; Example config.ini - contains all supported parameters and their default values

[arrowbot parameters]
segments = 2
sensorAttachmentType = identity ; Can be "identity" (sensors attached to their corresponding segments) or "null" (all sensors attached to the fixed segment)

[simulation parameters]
simulationTime = 1.0
timeStep = 0.1
integrateError = false
writeTrajectories = false
